<div class="nav-container">
  <nav id="nav">
    <ul>

      <!-- Menu tooggle on smaller screens  -->
      <li id="toggleMenu" role="button" aria-haspopup="true">

        <a href="/sitemap.html"><span class="icon-menu">&#9776;</span><span class="icon-menu-closed">X</span>
          Menu</a>
      </li>

      <!-- Simple menu item without sub menu -->
      <li><a href=""><img class='logo' src='/images/brand/ember_Ember-Dark.png' alt='Ember.js logo'></a></li>

      <!--  Menu item with one sub menu -->
      <li>
        <a href="">Docs</a>

        <ul>
          <li><a href="#">Test</a></li>
          <li><a href="#">Test</a></li>
        </ul>
      </li>
      <li>
        <a href="">Releases</a>
        <ul>
          <li><a href="#">Test</a></li>
          <li><a href="#">Test</a></li>
        </ul>
      </li>
      <li>
        <a href="">Blog</a>
      </li>
      <li>
        <a href="">Community</a>
        <ul>
          <li><a href="#">Test</a></li>
          <li><a href="#">Test</a></li>
        </ul>
      </li>
      <li>
        <a href="">About</a>
        <ul>
          <li><a href="#">Test</a></li>
          <li><a href="#">Test</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div><!-- .nav-container -->