<div class="team-member">
    <img src="/images/team/{{@image}}" alt={{@name}}>
    <div class="bio text-emphasis-size">
        <div class="text-orange">
            {{@name}}
        </div>
        <div>
            <span class="text-light-gray tiny-text"> {{@teams}} </span>
        </div>
    </div>
</div>