<footer class="footer-container">
  <div class="footer-links generous-padding">
    <LinkTo class="footer-ember-logo" @route="index">
      <img alt="ember logo" src="/images/brand/ember_Ember-Dark.png">
    </LinkTo>

    <div>
      <LinkTo @route="index">Team</LinkTo>
      <LinkTo @route="index">Sponsors</LinkTo>
      <LinkTo @route="index">Security</LinkTo>
    </div>
    <div>
      <LinkTo @route="index">Legal</LinkTo>
      <LinkTo @route="index">Branding</LinkTo>
      <LinkTo @route="index">Community Guidelines</LinkTo>
    </div>
  </div>


  <div class="generous-padding">
    <div class="tiny-text text-light-gray">
      &copy; Copyight 2019 - Tilde, Inc.
    </div>

    <div class="tiny-text">
      Ember.js is free, open source, and always will be.
    </div>
  </div>

  <div class="footer-sponsors standard-padding">
    <div class="tiny-text text-light-gray">
      We &#9829; these companies who support smooth operations at Ember
    </div>

    <div class="footer-logos">
      <a href="https://dnsimple.com/resolving/emberjs">
        <img src="images/dnsimple-logo-blue.png" alt="dnsimple">
      </a>
      <a href="https://www.heroku.com/emberjs">
        <img src="images/heroku-logotype-horizontal-purple.png" alt="heroku">
      </a>
      <a href="https://www.fastly.com/">
        <img src="images/Fastly_logo.png" alt="fastly">
      </a>
      <a href="https://percy.io/">
        <img src="images/percy-full-horizontal-on-light.svg" alt="percy">
      </a>
    </div>
  </div>
</footer>