body {
  background-color: #f4f6f8;
  color: #16181e;
}
main {
  width: 100%;
  h1, h2 {
    width: 100%;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.7em;
  }
  section.section {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    @media screen and (min-width: 1200px) {
      padding: 0 20%;
    }
    h2 {
      color: #16181e;
    }
    &.section-dark {
      background-color: #16181e;
      color: white;
      h1, h2, h3 {
        color: white;
      }
    }
    p {
      min-width: auto;
      max-width: 100%;
      &.paragraph-intro {
        font-size: 1.2em;
      }
      &.paragraph-center {
        // max-width: 50%;
        max-width: 500px;
        margin: 0 auto;
        align-self: center;
        display: flex;
        justify-content: center;
      }
    }
  
  }
}
