body {
  background-color: #f4f6f8;
  color: #16181e;
}
main {
  width: 100%;
  section {
    @media screen and (min-width:1200px) {
      width: 1200px;
      max-width: 1200px;
    }
    h2 {
      color: #16181e;
    }
    &.dark {
      background-color: #16181e;
      color: white;
      h1, h2, h3 {
        color: white;
      }
    }
  
  }
}