section {}
article {}
header {}
footer {}
main {}
aside {}

.row {}
.wrapper {}

.column-half {
  width: 50%;
}
.column-third {
  width: 33.333%;
}
.column-quarter {
  width: 25%;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: 33px;
}