@import 'variables';

$standard-padding: 10px 5%;
$standard-row: 10px 0 0 0;
$generous-padding: 30px 5%;
$generous-row: 30px 0 10px 0;
$super-padding: 10px 5% 60px 5%;

body {
	background-color: #f4f6f8;
	margin: 0;
	color: $text-dark;
}

section {
	padding: $generous-padding;
}

.section-dark {
	background-color: $background-dark;
	color: $very-white;
	margin: 0;
	padding: $super-padding;
}

// Typography

.tiny-text {
	font-size: 0.8em;
}

.text-light-gray {
	color: $text-gray;
}

.standard-padding {
	padding: $standard-padding;
}

.standard-row {
	padding: $standard-row;
}

.generous-padding {
	padding: $generous-padding;
}

.generous-row {
	padding: $generous-row;
}

// buttons and links

.link-button-orange {
	background-color: $ember-orange;
	border-radius: 8px;
	color: $very-white;
	padding: 8px 20px;
	text-decoration: none;
}

.link-emphasis-white {
	color: $very-white;
	margin: 0 15px;
}

// footer

.footer-container {
	// TODO make this whole thing use css grid responsively
	background-color: $very-white;
	
	.footer-sponsors {
		background-color: $background-light;
		border-top: solid 2px darken( $background-light, 10% );
		display: grid;
		grid-template-columns: 50% 50%;
		line-height: 40px;

		img {
			max-width: 80px;
			vertical-align: middle;
			margin-bottom:0.25em;
		}
	
		a {
			height:40px;
			margin: 10px;
		}
	}


	.footer-links {
		display: grid;
		grid-template-columns: 20% 20% 20% 20%;
		border-bottom: 1px solid lighten( $text-gray, 40% );

		a {
			display: block;
			line-height: 2.5em;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.footer-ember-logo img {
		// keep this the same in nav and footer
		height: $nav-min-height;
		width: auto;
	}
}
