@import 'variables';

body {
	background-color: #f4f6f8;
	margin: 0;
	color: $text-dark;
}

// Typography

.tiny-text {
	font-size: 0.8em;
}

.text-light-gray {
	color: $text-gray;
}

.text-emphasis-bold {
	font-weight: bold;
}

.text-emphasis-size {
	font-size: $text-emphasis;
}

.text-center {
	text-align: center;
}

.paragraph-intro {
	max-width: 600px;
	font-size: $text-emphasis;
}

// utility classes

section {
	padding: $generous-padding;
}

.section {
	padding: $super-padding;

	&.section-top {
		padding: 10px 5% 60px 5%;
	}
}


.section-dark {
	background-color: $background-dark;
	color: $paper-white;
	margin: 0;
	padding: $super-padding;
}

.standard-padding {
	padding: $standard-padding;
}

.standard-row {
	padding: $standard-row;
}

.generous-padding {
	padding: $generous-padding;
}

.generous-row {
	padding: $generous-row;
}

.super-inset {
	padding-left: 20%;
	padding-right: 20%;
}

// buttons and links

.link-button-orange {
	background-color: $ember-orange;
	border-radius: 8px;
	color: $very-white;
	padding: 8px 20px;
	text-decoration: none;

	&:hover {
		background-color: darken( $ember-orange, 15% );
	}
}

.link-emphasis-white {
	color: $very-white;
	margin: 0 15px;
	font-size: $text-emphasis;
}

// footer

.footer-container {
	// TODO make this whole thing use css grid responsively
	background-color: $very-white;
	
	.footer-sponsors {
		background-color: $background-light;
		border-top: solid 2px darken( $background-light, 10% );
		display: grid;
		grid-template-columns: 50% 50%;
		line-height: 40px;

		img {
			max-width: 80px;
			vertical-align: middle;
			margin-bottom:0.25em;
		}
	
		a {
			height:40px;
			margin: 10px;
			text-decoration: none;
		}
	}


	.footer-links {
		display: grid;
		grid-template-columns: 20% 20% 20% 20%;
		border-bottom: 1px solid lighten( $text-gray, 40% );

		a {
			display: block;
			line-height: 2.5em;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.footer-ember-logo img {
		// keep this the same in nav and footer
		height: $nav-min-height;
		width: auto;
	}
}

// code blocks like InstallEmberCode component

.carbon-code {
	img {
		width: 100%;
		max-width: 900px;
	}
}

// release table

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin-top: 20px;
	padding:0;
	width: 100%;
  }
  table tr {
	border: 1px solid #ddd;
	padding: 5px;
  }
  table th, table td {
	padding: 10px;
	text-align: center;

  }

thead {
	font-weight: bold;
}

  table th {
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
  }
  @media screen and (max-width: 600px) {
	table {
	  border: 0;
	}
	table thead {
	  display: none;
	}
	table tr {
	  border-bottom: 2px solid #ddd;
	  display: block;
	  margin-bottom: 10px;
	}
	table td {
	  border-bottom: 1px dotted #ccc;
	  display: block;
	  font-size: 13px;
	  text-align: right;
	}
	table td:last-child {
	  border-bottom: 0;
	}
	table td:before {
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  text-transform: uppercase;
	}
  }

  .terminal-code {
	  background-color: $background-dark;
	  border-radius: 4px;
	  min-height: 50px;
	  padding: 15px;

	.dot {
		height: 0.8em;
		width: 0.8em;
		border-radius: 50%;
		display: inline-block;
		margin: 3px;

		&.red {
			background-color: rgb(238, 90, 90);
		}

		&.yellow {
			background-color: rgb(250, 208, 109);
		}
		&.green {
			background-color: rgb(116, 173, 111);
		}
	}

	code {
		display: block;
		color: $paper-white;
		padding-top: 15px;
		padding-bottom: 10px;
		font-size: 1.5em;
	}

  }