@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: 'Roboto', sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1;
}

h1 {
  font-size: 3.242rem;
  font-weight: 100;
  margin-top: 3rem;
}

h2 {
  font-size: 2.228rem;
  font-weight: 400;
  margin-top: 3rem;
}

h3 {
  font-size: 1.114rem;
  font-weight: 600;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.4713333333333333rem;
}

h6 {
  font-size: 0.3535rem;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}

// Typography

.text-tiny {
  font-size: 0.8em;
}

.text-light-gray {
  color: $text-gray;
}

.text-emphasis-bold {
  font-weight: bold;
}

.text-emphasis-size { // TODO this is not an acceptable rule
  font-size: $text-emphasis;
}

.text-center {
  text-align: center;
}

.paragraph-intro {
  max-width: 600px;
  font-size: $text-emphasis;
}

.text-orange {
  color: $ember-orange;
}