$background-light: #f4f6f8;
$background-gray: #eceef1;
$background-darker-gray: #686c75;
$background-dark: #1c1e23;
$ember-orange: #e04e39;
$text-dark: $background-dark;
$text-gray: $background-darker-gray;
$text-white: #FFF;
$paper-white: $background-light;

$nav-min-height: 2.5em;
$text-emphasis: 1.15rem;

$gutters: 15%;

$padding-standard: 10px $gutters;
$padding-generous: 30px $gutters;
$padding-super: 10px $gutters 60px $gutters;

$row-standard: 10px 0 0 0;
$row-generous: 30px 0 10px 0;


$nav-color: #ffffff;
$nav-background-color: darken($ember-orange, 6%);
$nav-background-hover-color: darken($ember-orange, 0%);
$nav-border-color: lighten($ember-orange, 10%);
$nav-item-width: 10em;
$nav-togglemenu-color: #fff;
$nav-togglemenu-background-color: #165f72;
$media-breakpoint: 47em;