$background-light: #f4f6f8;
$background-gray: #eceef1;
$background-darker-gray: #686c75;
$background-dark: #1c1e23;
$ember-orange: #e04e39;
$text-dark: $background-dark;
$text-gray: $background-darker-gray;
$very-white: #FFF;
$paper-white: $background-light;

$nav-min-height: 2.5em;
$text-emphasis: 1.15rem;

$standard-padding: 10px 5%;
$standard-row: 10px 0 0 0;
$generous-padding: 30px 5%;
$generous-row: 30px 0 10px 0;
$super-padding: 10px 5% 60px 5%;