<section class="section">

    <h2>Ember's Release Strategy</h2>

    <p>
        Ember is built by people who are at the front lines of building and upgrading their company's apps.
        They want the latest features without the burn of breaking changes, and so Ember follows
        a different release strategy than most other JavaScript tools.
    </p>
</section>

<section>
    <h3>Our goals</h3>
    <ul>
        <li>
            Add new features in a way that doesn't break existing apps, through
            backwards compatibility and optional feature flags
        </li>
        <li>
            Maintain LTS (long term support) versions for 54 weeks, so that teams who upgrade their apps
            infrequently can keep getting security updates and bugfixes
        </li>
        <li>
            Make a minor release about every six weeks, so teams can plan their work
        </li>
        <li>
            Follow a public RFC (request for comments) process so that all users and companies
            can participate in proposing and evaluating new features
        </li>
        <li>
            Provide automated tooling for upgrades and syntax changes 
        </li>
        <li>
            Only cut a new major version (i.e. make a breaking change) when we really, really have to
        </li>
        <li>
            Give developers a way to test drive the latest and greatest features, on their own terms.
        </li>
    </ul>
</section>
