<<<<<<< HEAD
<main class="container">
  {{outlet}}
</main>
=======
{{!-- The following component displays Ember's default welcome message. --}}
<WelcomePage />
{{!-- Feel free to remove this! --}}

{{outlet}}
>>>>>>> bf545cf... message
