<section aria-labelledby="header-section-one" class="dark">
  <h1 id="header-section-one">A framework for ambitious web developers</h1>
  <p>
    Ember.js is a productive, battle-tested JavaScript framework for building modern web applications. It includes everything you need to build rich UIs that work on any device.
  </p>
  <button>Quickstart</button>
  <button>Read the Tutorial</button>
</section>

<section aria-labelledby="header-section-two">
  <h2 id="header-section-two">Build with the teams that never stop shipping.</h2>
  <p>
    Some of the best development teams in the world have been iterating on their products for years with Ember. Thanks to the scalable UI architecture built in from the start, you'll be working with the same patterns these organizations use every step of the way.
  </p>
  <p>
    It's time to start building from the 20th floor.
  </p>
  <ul>
    <li><a href="#">Netflix</a></li>
    <li><a href="#">Intercom</a></li>
    <li><a href="#">Microsoft</a></li>
    <li><a href="#">Square</a></li>
    <li><a href="#">LinkedIn</a></li>
    <li><a href="#">Apple</a></li>
    <li><a href="#">Heroku</a></li>
  </ul>
  
</section>
<section aria-labelledby="header-section-three" class="dark">
  <h2 id="header-section-three">Batteries are included</h2>
  <p>
    Ember's out-of-the-box experience has everything you need to start building on day one -- and keep shipping for years. Never wire together your own framework again.
  </p>
  {{!-- Left / Right split of Editor / Render Here --}}
  {{!-- Feature Tabs Here + Preview of Demo 'Active' Tab --}}  

</section>
<section aria-labelledby="header-section-four">
  <h2 id="header-section-four">The Ember Ecosystem</h2>
  <article>
    <p>
      There's never been a better time to be a JavaScript developer, and Ember embraces everything that modern JS has to offer. When you're ready for more, choose from hundreds of high-quality, curated community Ember Addons to super-charge your application.
    </p>
    
    <h3>Use the modern JavaScript you know and love</h3>
    <p>
      ES6 classes, fat arrow functions, and even decorators- it's easy to use the latest and greatest in JavaScript features in your app, zero configuration required. Love Typescript? We've got great support for that, too. Tools like Prettier pair perfectly with your Ember app's JavaScript code.
    </p>
    <ul>
      <li><a href="">Babel</a></li>
      <li><a href="">JS</a></li>
      <li><a href="">Prettier</a></li>
      <li><a href="">Visual Studio Code</a></li>
      <li><a href="">Typescript</a></li>
      <li><a href="">Yarn</a></li>
    </ul>
  </article>
  <article>
    {{!-- addons tabs go here--}}
    <h3>Meet Addons: high-quality, curated npm packages that supercharge your app.</h3>
    <p>
      While Ember CLI makes it easy to add any third-party node module, Ember Addons provide capabilities that go beyond your typical npm package.
    </p>
    <p>
      By hooking into Ember CLI's standardized tooling, Ember addons can modify your application's build steps, and help you out with deployment, inline images, and more.
    </p>
    <p>
      With all this power wrapped up into a single install command, and no additional build tool or configuration required, you'll wonder how you could go back to wiring up dependencies on your own ever again.
    </p>
  </article>
  <article>
    <h3>Ember Observer, your dependency co-pilot.</h3>
    <p>
      Tired of wondering if your project's next dependency is well-maintained? Have you ever had to make a choice between multiple packagtes with no clear guidance about which one is best? 
    </p>
    <p>
      With Ember Observer, you'll never have to assess the quality of your project's dependencies on your own. Up-to-date rankings make it easy to see an addon's position within the community. Metrics like great documentation, recent releases and automated tests across multiple Ember versions mean you can be confident that your next dependency won't become a liability.
    </p>
    <img src="https://via.placeholder.com/600x400?text=screenshot+of+ember+observer" alt="screenshot of the Ember Observer website">
  </article>
</section>
<section aria-labelledby="header-section-five">
  <h2 id="header-section-five">A vibrant, welcoming community</h2>
  <p>
    Ember's first commit was in 2011, but today our community is more active than ever. Whether it's one of our annual conferences, dozens of Meetup groups, or initiatives like Women Helping Women, we're always working hard to foster a friendly, professional, and welcoming environment for our developers.
  </p>
  <ul>
    <li><img src="https://via.placeholder.com/600x760?text=EmberConf2019-Tom@Podium" alt="Tom @ Podium during EmberConf 2019"></li>
    <li><a href="">Crowd Shot 1 680x460</a></li>
    <li><a href="">Crowd Shot 2 680x460</a></li>
    <li><a href="">Heidi @ Podium 600x</a></li>
  </ul>
  <button>Buy Tickets for Current Event (EmberConf/EmberFest/EmberCamp)</button>
  <button>Ember Meetups</button>
  <p>
    Beyond our core online channels, you can dig deeper with these learning resources:
  </p>
  {{!--
  Media Components for Learning Resources:
    Discussion Forum | Discord
    Podcasts | Books | Videos
  --}}
</section>
<section aria-labelledby="header-section-six" class="dark">
  <h2 id="header-section-six">Ready to start shipping?</h2>
  <p>
    If you're ready to dive in, the Quickstart is the fastest way to get going with Ember.js. Are you new to web development or a recent bootcamp grad? The Intro tutorial is a great place to start.
  </p>
  <button>Quickstart</button>
  <button>Read the Tutorial</button>
  {{!-- 
  Media Component: Guides
  Media Component: Blog
   --}}
</section>