<section class="section section-dark">
    <h1>Releases</h1>
    <p class="text-emphasis-size">
        We know how to ship new features without breaking your existing applications.
        Ember offers LTS (long term support) versions,
        a 6-week release cycle, and a strong commitment to SemVer.
    </p>
</section>
    {{outlet}}
