<section class="section section-dark section-top">
  <h1>Releases</h1>
  <p class="paragraph-intro">
    Ember knows how to ship new features without breaking your existing applications.
    You get LTS long-term-support versions,
    a 6-week release cycle, and a strong commitment to SemVer.
    ( <LinkTo @route="releases.about">Learn more.</LinkTo> )
  </p>
</section>
{{outlet}}