
<h1>Typography</h1>

<h1>H1 example</h1>
<h2>H2 example</h2>
<h3>H3 example</h3>
<h4>H4 example</h4>
<h5>H5 example</h5>

<p>paragraph</p>

<ol>
	<li>ordered list</li>
	<li>ordered list</li>
</ol>

<ul>
	<li>unordered list</li>
	<li>unordered list</li>
</ul>

<p>Utility Classes: add "hug" to reduce the padding on any element above</p>

<hr>

<h1>UI elements</h1>

<p>
<a class="link-button-orange">Learn more</a>
<br>
Use the "link-button-orange" class on an anchor tag to make it look like an orange button
</p>

<br>

<p>

<div style="background-color:#1c1e23; padding:20px;">
<a class="link-emphasis-white">Another link</a>
</div>
Use the "link-emphasis-white" class on an anchor tag to make a white text link. Use against a dark background
</p>

<br>

<div class="tiny-text">
	Use the class "tiny-text"
</div>

<div class="text-light-gray text-light-gray">
	Use the class "text-light-gray tiny-text"
</div>

<br>

<div class="generous-padding" style="border:2px solid gray">
	Use the class generous padding to get lots of padding around an element (does not include the border)
</div>

<br>

<div class="standard-padding" style="border:2px solid gray">
	Use the class generous padding to get less top padding around an element
</div>